.container{
  background-image: url("../images/etang.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
.img-fluid {
  height: 4em;
  width: 4em;
}
.affscore{
  display: flex;
  justify-content: center;
  text-align: center;
  margin-top: 0.5em;
}
.increaseScore{
  width: 10em;
  background-color: rgba(13,34,224, 0.4);
  color : #FFF;
  font-size: 2em;
}
.autoScore{
  color: #FFF;
}
#moineau{
  height: 8em;
  width: 8em;
}

.achat{
  display: flex;
}
.info{
  font-size: 1.3em;
  color: #FFF;
  text-align: center;
}
.achatmulti{
  background-color: rgba(3,79,21, 0.5);
  margin: 1em 0;
  padding-left: 1em;
}
.autoclickers{
  margin-left: 25em;
}
.achatpts{
  font-size: 1.5em;
  color: #FFF;
  border: 0.1em solid black;
}
.achatauto{
  background-color: rgba(12,200,247,0.4);
  margin: 1em 0;
}
#nbrmulti1, #nbrmulti2, #nbrmulti3, #nbrautoclick1, #nbrautoclick2, #nbrautoclick3 {
  color: #FFF;
  font-size: 2em;
}
